.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container .header {
    background: #1f2937;
    height: 500px;
    flex: 1 1 auto;
}

.flex-container .main {
    background: white;
    height: 500px;
    flex: 1 1 auto;
}

.flex-container .quote {
    background: #e5e7eb;
    height: 500px;
    flex: 1 1 auto;
}

.flex-container .signup {
    background: white;
    height: 300px;
    flex: 1 1 auto;
}

.flex-container .footer {
    background: #1f2937;
    height: 50px;
    flex: 1 1 auto;
    text-align: center;
    color: #e5e7eb;
}

li {
    display:inline-block;
    padding-right: 20px;
    margin-right: 50px;
}

a:link {
    color: #e5e7eb;
    text-decoration: none;
}

a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

#header-links {
    list-style-type: none;
    float: right;
    margin-right: 200px;
}

#logo-img {
    max-width: 10%;
    max-height: 10%;
    padding: 20px;
    margin-left: 90px;
}

#header-img {
    max-width: 20%;
    max-height: 20%;
}